- var cssCacheVersion = '20220425'
- var jsCacheVersion = '20220425'

block variables
    - var page_id = ''
    - var show_loader = true

doctype html
html(lang="en")
    head
        // =============== basic  ===============
        meta(charset='UTF-8')
        meta(http-equiv='x-ua-compatible' content='ie=edge')
        if title
            title=title + " — " + basetitle
        else
            title=basetitle
        meta(http-equiv='cache-control' content='no-cache')
        meta(http-equiv='expires' content='0') 
        meta(http-equiv='pragma' content='no-cache')
        meta(name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
        meta(name='robots' content='index, follow')
        meta(name='keywords' content=meta.keywords)
        meta(name='description' content=meta.description)
        meta(name='author' content=meta.author)
        
        // =============== css  ===============
        link(type='text/css' rel='stylesheet' href=static_folder_path + '/styles/reset.css?cache=' + cssCacheVersion)
        link(type='text/css' rel='stylesheet' href=static_folder_path + '/styles/plugins.css?cache=' + cssCacheVersion)
        link(type='text/css' rel='stylesheet' href=static_folder_path + '/styles/cookieconsent.css?cache=' + cssCacheVersion)
        link(type='text/css' rel='stylesheet' href=static_folder_path + '/styles/style.css?cache=' + cssCacheVersion)
        link(type='text/css' rel='stylesheet' href=static_folder_path + '/styles/color.css?cache=' + cssCacheVersion)
        
        // =============== favicons ===============
        link(rel='shortcut icon' href=static_folder_path + '/images/favicon.ico')
        
        // =============== Google Analytics  ===============
        script(type='type="text/plain' data-cookiecategory='analytics' async src='https://www.googletagmanager.com/gtag/js?id=G-MC0SQWB982')
        script(type='type="text/plain' data-cookiecategory='analytics').
            console.debug("Google Analytics - Initializing...");

            // Initialize the data layer
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }

            // Google Tag Manager
            (function(w, d, s, l, i) {
                w[l] = w[l] || [];
                w[l].push({
                    "gtm.start": new Date().getTime(),
                    event: "gtm.js"
                });
                var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s),
                    dl = l != "dataLayer" ? "&l=" + l : "";
                j.async = true;
                j.src =
                    "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
                f.parentNode.insertBefore(j, f);
            })(window, document, "script", "dataLayer", "GTM-KJ8DFHQ");
            
            var shouldResetUserPrefs=true;try{var shouldResetUserPrefsCookieValue=document.cookie.match("(^|;)\\s*brunocostagallery.ga_userprefs_kept\\s*=\\s*([^;]+)")?.pop()||"";shouldResetUserPrefs=shouldResetUserPrefsCookieValue!=="true"}catch(e){shouldResetUserPrefs=true}
            if (shouldResetUserPrefs) {
                window["_gaUserPrefs"] = {};
                console.debug("Google Analytics - Reset UserPrefs");
            } else {
                console.debug("Google Analytics - Keep UserPrefs");
            }
            
            gtag("js", new Date());
            gtag("config", "G-MC0SQWB982");

            console.debug("Google Analytics - Initialized");

    body(id=page_id)
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KJ8DFHQ" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

        // loader
        if (show_loader)
            .loader
                .tm-loader
                    #circle
        
        block view

        // =============== scripts  ===============
        block scripts
            script(type='text/javascript' src=static_folder_path + '/scripts/jquery.min.js?cache=' + jsCacheVersion)
            script(type='text/javascript' src=static_folder_path + '/scripts/plugins.js?cache=' + jsCacheVersion)
            script(type='text/javascript' src=static_folder_path + '/scripts/cookieconsent.js?cache=' + jsCacheVersion)
            script(type='text/javascript' src=static_folder_path + '/scripts/main.js?cache=' + jsCacheVersion)
            script(type='text/javascript' src=static_folder_path + '/scripts/core.js?cache=' + jsCacheVersion)
            script(type='text/javascript').
                window.shareplugin_share_on_prefix = "#{text.share_on_prefix}";
