- var cssCacheVersion = '20220107'
- var jsCacheVersion = '20211210'

block variables

doctype html
html(lang="en")
    head
        // =============== basic  ===============
        meta(charset='UTF-8')
        meta(http-equiv='x-ua-compatible' content='ie=edge')
        if title
            title=title + " — " + basetitle
        else
            title=basetitle
        meta(name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
        meta(name='robots' content='index, follow')
        meta(name='keywords' content=meta.keywords)
        meta(name='description' content=meta.description)
        meta(name='author' content=meta.author)
        // =============== css  ===============
        link(type='text/css' rel='stylesheet' href=static_folder_path + '/styles/reset.css?cache=' + cssCacheVersion)
        link(type='text/css' rel='stylesheet' href=static_folder_path + '/styles/plugins.css?cache=' + cssCacheVersion)
        link(type='text/css' rel='stylesheet' href=static_folder_path + '/styles/style.css?cache=' + cssCacheVersion)
        link(type='text/css' rel='stylesheet' href=static_folder_path + '/styles/color.css?cache=' + cssCacheVersion)
        // =============== favicons ===============
        link(rel='shortcut icon' href=static_folder_path + '/images/favicon.ico')
        // ===============  Google Analytics  ===============
        script(type='text/javascript' async src='https://www.googletagmanager.com/gtag/js?id=G-MC0SQWB982')
        script(type='text/javascript').
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-MC0SQWB982');
    body
        // loader
        .loader
            .tm-loader
                #circle
        // loader end
        
        block view

        // =============== scripts  ===============
        block scripts
            script(type='text/javascript' src=static_folder_path + '/scripts/jquery.min.js?cache=' + jsCacheVersion)
            script(type='text/javascript' src=static_folder_path + '/scripts/core.js?cache=' + jsCacheVersion)
            script(type='text/javascript' src=static_folder_path + '/scripts/plugins.js?cache=' + jsCacheVersion)
            script(type='text/javascript' src=static_folder_path + '/scripts/scripts.js?cache=' + jsCacheVersion)
