extends layout.pug

block view
    // ================= main start ================
    #main
        // =============== header ===============
        header
            // Nav button
            .nav-button
                span.nos
                span.ncs
                span.nbs
                .nav-text #{text.menu}
            // Nav button end
            // Logo
            .logo-holder
                a(href=base_url)
                    img(width='120' src=static_folder_path + '/images/logo.png' alt='')
            // Logo  end
            // header-lang
            .header-lang
                ul
                    each language_item in languages
                        li
                            a(href=language_item.base_url + '/' + current_slug class=language_item.is_selected === true ? "header-lang-active" : "") #{language_item.title}
            // header-lang end
        // Header   end
        // =============== wrapper ===============
        #wrapper
            // =============== content-holder ===============
            .content-holder.scale-bg2
                // Navigation
                .nav-overlay
                .nav-inner.isDown
                    #hid-men
                        ul.menu
                            li
                                a(href=base_url class=selected_menu_option === home.menu_item_id ? "act-link" : "") #{home.title}
                            li
                                a(href=base_url + '/' + about.url class=selected_menu_option === about.menu_item_id ? "act-link" : "") #{about.title}
                            li
                                a(href='#'  class=selected_works_is_active === true ? "act-link" : "") #{text.selected_works}
                                // selected works
                                ul
                                    each selected_work_item in selected_works
                                        li
                                            a(href=base_url  + '/work/' + works[selected_work_item.id].slug class=selected_menu_option === selected_work_item.id ? "act-link" : "") #{works[selected_work_item.id].title}
                            // selected works end
                            li
                                a(href=base_url + '/' + contact.url class=selected_menu_option === contact.menu_item_id ? "act-link" : "") #{contact.title}
                // Navigation end
            
                block view_content

            // content-holder end
        // wrapper end
        // =============== footer ===============
        footer
            .policy-box
                span
                    | #{footer.policy} / 
                    a(href=base_url + '/' + terms_conditions.url class="terms-conditions") #{terms_conditions.title}
            .footer-social
                ul
                    li
                        a(href=footer.social.linkedin.url, target='_blank')
                            i.fa.fa-linkedin
                            span #{footer.social.linkedin.title}
        // footer end
        // Main end
