extends ../templates/view.pug

block append variables
    - var page_id = 'contact-page'
    - var current_slug = contact.url
    - var selected_menu_option = contact.menu_item_id
    - var title = contact.title
    - var static_folder_path = '../static'
    - var imagens_path = static_folder_path + '/images'

block view_content
    .fixed-column.larger-column
        .bg.bg-bottom.bg-blur(data-bg=static_folder_path + '/images/work/tagus/thumbnail.jpg')
        //- .column-title
        //-     h2 #{contact.text.placeholder}

    .column-wrap.smaller-column.vertical-align
        .content
            section
                .container.small-container
                    .section-title
                        h2 #{contact.title}
                    .fl-wrap
                        p #{contact.text.line_1}
                        #contact-form
                            #response
                            form#contactform(method='post' action='#' name='contactform')
                                input#name(name='name' type='text' onclick='this.select()' placeholder=contact.text.name required)
                                input#email(name='email' type='email' onclick='this.select()' placeholder=contact.text.email required)
                                textarea#message(name='message' onclick='this.select()' placeholder=contact.text.message required)
                                .clearfix
                                button#submit(type='submit' class='btn anim-button trans-btn transition')
                                    span #{contact.text.send}
                                    i.fa.fa-paper-plane
