extends ../templates/view.pug

block variables
    - var title = contact.title
    - var static_folder_path = '../static'
    - var selected_menu_option = contact.menu_item_id

block view_content
    // fixed-column
    .fixed-column
        .bg.bg-bottom(data-bg=static_folder_path + '/images/work/tagus/thumbnail.jpg')
        .column-title
            h2 #{contact.text.placeholder}
    // column-wrap
    .column-wrap.serv-column
        // content
        .content
            section
                .container.small-container
                    .section-title
                        h2 #{contact.title}
                    .fl-wrap
                        p #{contact.text.line_1}
                        #contact-form
                            #message
                            form#contactform(method='post' action='https://formspree.io/f/moqyzpya' name='contactform')
                                input#email(name='_replyto' type='text' onclick='this.select()' placeholder=contact.text.email)
                                textarea#comments(name='message' onclick='this.select()' placeholder=contact.text.message)
                                .clearfix
                                button#submit(type='submit' class='btn anim-button trans-btn transition')
                                    span #{contact.text.send}
                                    i.fa.fa-paper-plane
        // content end
    // column-wrap  end