extends ../../templates/view.pug

block append variables
    - var work = works['beginnings']
    - var page_id = 'beginnings-work-page'
    - var current_slug = 'work/' + work.slug
    - var selected_menu_option = work.menu_item_id
    - var selected_works_is_active = true
    - var title = work.title
    - var static_folder_path = '../../static'
    - var work_imagens_path = static_folder_path + '/images/work/beginnings'

block view_content
    .fixed-column.larger-column
        .bg.bg-blur(data-bg=work_imagens_path + '/main_thumbnail.jpg')
        .work-main-image
            img.respimg(src=work_imagens_path + '/main_thumbnail.jpg' alt='')
            a.single-popup-image.slider-zoom(data-src=work_imagens_path + '/main.jpg')
                i.fa.fa-search

    .column-wrap.smaller-column.vertical-align
        .content
            section
                .section-title
                    h2 #{work.title}
                
                .section-content
                    blockquote
                        p(style='white-space: normal;') #{work.text.quote_1}
                        p #{work.text.quote_1_author}
                    ul.work-details
                        li
                            span #{text.location} : 
                            a(href=work.details.location.url target='_blank') #{work.details.location.value}
                        li
                            span #{text.date} : 
                            a(href='#') #{work.details.date}
                        li
                            span #{text.gear} : 
                            a(href='#') #{work.details.gear}
                    
                    if share_enabled
                        div.share-holder.no-fix-share
                            span #{text.share} :
                            div.share-container
