extends ../../templates/view.pug

block append variables
    - var work = works['houses-and-people']
    - var page_id = 'houses-and-people-work-page'
    - var current_slug = 'work/' + work.slug
    - var selected_menu_option = work.menu_item_id
    - var selected_works_is_active = true
    - var title = work.title
    - var static_folder_path = '../../static'
    - var work_imagens_path = static_folder_path + '/images/work/houses-and-people'

block view_content
    .fixed-column
        .bg.bg-blur(data-bg=work_imagens_path + '/main_thumbnail.jpg')
        .work-main-image.with-max-width
            img.respimg(src=work_imagens_path + '/main_thumbnail.jpg' alt='')
            a.single-popup-image.slider-zoom(data-src=work_imagens_path + '/main.jpg')
                i.fa.fa-search

    .column-wrap
        .content
            section
                .section-title
                    h2 #{work.title}

                .section-content
                    blockquote
                        p(style='white-space:pre;')
                            | #{work.text.quote_1_1}
                            if (work.text.quote_1_1_translation_source.length)
                                br
                                span.blockquote-line-translation_source #{work.text.quote_1_1_translation_source}
                            br
                            | #{work.text.quote_1_2}
                            if (work.text.quote_1_2_translation_source.length)
                                br
                                span.blockquote-line-translation_source #{work.text.quote_1_2_translation_source}
                            br
                            | #{work.text.quote_1_3}
                            if (work.text.quote_1_3_translation_source.length)
                                br
                                span.blockquote-line-translation_source #{work.text.quote_1_3_translation_source}
                            br
                            br
                            | #{work.text.quote_1_4}
                            if (work.text.quote_1_4_translation_source.length)
                                br
                                span.blockquote-line-translation_source #{work.text.quote_1_4_translation_source}
                            br
                            | #{work.text.quote_1_5}
                            if (work.text.quote_1_5_translation_source.length)
                                br
                                span.blockquote-line-translation_source #{work.text.quote_1_5_translation_source}
                            br
                            | #{work.text.quote_1_6}
                            if (work.text.quote_1_6_translation_source.length)
                                br
                                span.blockquote-line-translation_source #{work.text.quote_1_6_translation_source}
                            br
                            | #{work.text.quote_1_7}
                            if (work.text.quote_1_7_translation_source.length)
                                br
                                span.blockquote-line-translation_source #{work.text.quote_1_7_translation_source}
                            br
                            | #{work.text.quote_1_8}
                            if (work.text.quote_1_8_translation_source.length)
                                br
                                span.blockquote-line-translation_source #{work.text.quote_1_8_translation_source}
                    
                    .gallery-items.boxed-folio.hid-port-info

                        .gallery-item.gallery-item-second
                            .grid-item-holder
                                img(src=work_imagens_path + '/DSCF3693_thumbnail.jpg' alt='')
                                a.single-popup-image.slider-zoom(data-src=work_imagens_path + '/DSCF3693.jpg')
                                    i.fa.fa-search
                        
                        .gallery-item.gallery-item-second
                            .grid-item-holder
                                img(src=work_imagens_path + '/DSCF1072_thumbnail.jpg' alt='')
                                a.single-popup-image.slider-zoom(data-src=work_imagens_path + '/DSCF1072.jpg')
                                    i.fa.fa-search
                    
                    .clearfix
                    br
                    br
                    
                    blockquote
                        p(style='white-space:pre;')
                            | #{work.text.quote_1_9}
                            if (work.text.quote_1_9_translation_source.length)
                                br
                                span.blockquote-line-translation_source #{work.text.quote_1_9_translation_source}
                            br
                            | #{work.text.quote_1_10}
                            if (work.text.quote_1_10_translation_source.length)
                                br
                                span.blockquote-line-translation_source #{work.text.quote_1_10_translation_source}
                            br
                            | #{work.text.quote_1_11}
                            if (work.text.quote_1_11_translation_source.length)
                                br
                                span.blockquote-line-translation_source #{work.text.quote_1_11_translation_source}
                            br
                            | #{work.text.quote_1_12}
                            if (work.text.quote_1_12_translation_source.length)
                                br
                                span.blockquote-line-translation_source #{work.text.quote_1_12_translation_source}
                            br
                            br
                            | #{work.text.quote_1_13}
                            if (work.text.quote_1_13_translation_source.length)
                                br
                                span.blockquote-line-translation_source #{work.text.quote_1_13_translation_source}
                            br
                            | #{work.text.quote_1_14}
                            if (work.text.quote_1_14_translation_source.length)
                                br
                                span.blockquote-line-translation_source #{work.text.quote_1_14_translation_source}
                            br
                            | #{work.text.quote_1_15}
                            if (work.text.quote_1_15_translation_source.length)
                                br
                                span.blockquote-line-translation_source #{work.text.quote_1_15_translation_source}
                            br
                            | #{work.text.quote_1_16}
                            if (work.text.quote_1_16_translation_source.length)
                                br
                                span.blockquote-line-translation_source #{work.text.quote_1_16_translation_source}
                        p #{work.text.quote_1_author}

                    .gallery-items.boxed-folio.hid-port-info

                        .gallery-item.gallery-item-second
                            .grid-item-holder
                                img(src=work_imagens_path + '/DSCF3646_thumbnail.jpg' alt='')
                                a.single-popup-image.slider-zoom(data-src=work_imagens_path + '/DSCF3646.jpg')
                                    i.fa.fa-search

                        .gallery-item.gallery-item-second
                            .grid-item-holder
                                img(src=work_imagens_path + '/DSCF3674_thumbnail.jpg' alt='')
                                a.single-popup-image.slider-zoom(data-src=work_imagens_path + '/DSCF3674.jpg')
                                    i.fa.fa-search
                        
                    ul.work-details
                        li
                            span #{text.location} : 
                            a(href=work.details.location.url target='_blank') #{work.details.location.value}
                        li
                            span #{text.year} : 
                            a(href='#') #{work.details.date}
                        li
                            span #{text.gear} : 
                            a(href='#') #{work.details.gear}
                    
                    if share_enabled
                        div.share-holder.no-fix-share
                            span #{text.share} :
                            div.share-container
